<%- include('./partials/header') %>

<div class="list-group">
  <h1>list of cohorts</h1>
  <% cohorts.forEach(({id, logo, cohort_name, cohort_members }) => { %>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= cohort_name %></h5>
  </div>
  <img style="width: 100px;" src="<%= logo %>" />
  <small><%= cohort_members %></small>
  <button><a href="/cohorts/<%= id %>" class="list-group-item list-group-item-action" aria-current="true">Show cohort</a></button>
  <% }) %>
</div>

<%- include('./partials/footer') %>