<%- include('./partials/header') %>
<% const {id, cohort_name, cohort_members} = cohort %>

<h1><%= cohort_name %></h1>
<p><%= cohort_members %></p>

<form action="/cohorts/<%= id %>">

  <div class="mb-3">
    <label for="teamCount" class="form-label">Method</label>

    <div>
      <input type="radio" id="" name="teamPicker" value="teamCount" >
      <label for="teamCount">Team Count</label>
      
      <input type="radio" id="numberPerTeam" name="teamPicker" value="numberPerTeam" >
      <label for="numberPerTeam">Number Per Team</label>
    </div>

    Quantity <input type="number" name="quantity" id="quantity" required/>
  </div>

  <form class="mt-2" action="/cohorts/<%= id %>" method="POST">
    <button type="submit" class="btn btn-danger">Assign Teams</button>
  </form>

  <div>
    <a href="/cohorts/<%= id %>/edit" class="btn btn-warning">Edit</a>
  </div>
</form>

<% if (teamPicker === 'teamCount') { %>
  <p>team count</p>
  <p>quantity: <%= quantity %></p>

<% } else if (teamPicker === 'numberPerTeam') { %>
  <p>number per team</p>

  <% const splitNames=cohort_members.split(',') %>
  <% const numberOfNames=splitNames.length %>
  <% const emptyArr=[] %>
  <% let names=[].concat(...splitNames) %>
  <% while (names.length) { %>
  <% emptyArr.push(names.splice(0, quantity)) %>
  <% } %>
  <% console.log(emptyArr) %>
  <% splitNames.forEach(name=> { %>
  <p>
  <%= name %>
  </p>
  <% }) %>

<% } %>

<%- include('./partials/footer') %>
